<h2>My Appointments</h2>

<table border="1">
<tr>
    <th>Patient</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for appointment in appointments %}
<tr>
    <td>{{ appointment.patient.user.username }}</td>
    <td>{{ appointment.appointment_date }}</td>
    <td>{{ appointment.appointment_time }}</td>
    <td>{{ appointment.status }}</td>
    <td>
        <a href="{% url 'update_appointment_status' appointment.id 'approved' %}">Approve</a>
        <a href="{% url 'update_appointment_status' appointment.id 'cancelled' %}"></a>
    </td>

</tr>
{% endfor %}
</table>