<h2>My Appointments</h2>

<table border="1">
    <tr>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Acion</th>
    </tr>

    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.doctor.user.username }}</td>
        <td>{{ appointment.appointment_data }}</td>
        <td>{{ appointment.appointment_time }}</td>
        <td>
            {% if appointment.status == "pending" %}
                <a href="{% url 'cancel_appointment' appointment.id %}">Cancel</a>
            {% else %}
                -
            {% end if%}
        </td>
    </tr>
    {% endfor %}
</table>
